<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Inicia Sesion</title>
</head>

<body>
    <header class="header">
        <img tabindex="0" src="../assets/img/logo-platzi-video-BW2.png" alt="logo de platzivideo" class="header__img">
    </header>

    <section class="login">
        <div class="login__container">
            <h2 tabindex="0">Inicia Sesión</h2>
            <form action="" class="login__container--form">
                <input aria-label="Email" class="input" type="text" placeholder="Email">
                <input aria-label="Contraseña" class="input" type="password" placeholder="Contraseña">
                <button class="button">Iniciar sesión</button>
                <div class="login__container--remember">
                    <label>
                        <input type="checkbox" name="" id="remember" value="chkbox">Recuérdame
                    </label>
                    <a href="/">Olvidé mi contraseña</a>
                </div>
            </form>
            <section class="login__container--social-media">
                <div><img src="../assets/img/icons8-google-plus-50.png" alt="google"> Inicia sesión con Google</div>
                <div><img src="../assets/img/icons8-twitter-50.png" alt="twitter"> Inicia sesión con Twitter</div>
            </section>
            <p class="login__container--register">¿No tienes ninguna cuenta? <strong> <a href="./register.html">Regístrate</a> </strong> </p>
        </div>
    </section>

    <footer class="footer">
        <a href="#">Contáctanos</a>
        <a href="#">Política de privacidad</a>
        <a href="#">Términos y condiciones</a>
    </footer>
</body>
</html>