<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Register</title>
</head>
<body>
    <header class="header">
        <img tabindex="0" src="../assets/img/logo-platzi-video-BW2.png" alt="logo de platzivideo" class="header__img">
    </header>
    <section class="login">
        <div class="login__container">
            <h2 tabindex="0">Regístrate</h2>
            <form action="" class="login__container--form">
                <input aria-label="Nombre" type="text" placeholder="Nombre" class="input">
                <input aria-label="Correo" type="email" placeholder="Correo" class="input">
                <input aria-label="Contraseña" type="password" placeholder="Contraseña" class="input">
                <button class="button">Registrarme</button>
            </form>
            <p class="login__container--sign-in"><strong> <a href="#">Iniciar sesión</a> </strong> </p>
        </div>
    </section>
    <footer class="footer">
        <a href="#">Contáctanos</a>
        <a href="#">Política de privacidad</a>
        <a href="#">Términos y condiciones</a>
    </footer>
</body>
</html>